:root {
  --spotify-color: #259a4f;
  --primary-color: #FF7A7A;
  --cta-color: #FE9D65;
  --light-color: #FFFFFF;
  --dark-color: #342F2F;
}

.hide {
  display: none;
}

#loggedin {
  display: none;
}
